@font-face{
    src: url("../fonts/Rubik-Bold.ttf");
    font-family: "Rubik-Bold";
}

@font-face {
    src: url("../fonts/Rubik-Regular.ttf");
    font-family: "Rubik-Regular";
}

body{
    background-color:#1E1E1E;
}

.working-on-it{
    font-family: "Rubik-Regular";
    color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

ul, .here-tx, p {
    font-family: "Rubik-Regular";
    color: #F2F2F2;
    size: 16px;
}
h1{
    font-family: "Rubik-Bold";
    color: #F2F2F2;
    margin-bottom: 10px;
}
.column{ 
    width: 220px;
    justify-content: center;
    padding: 15px;
}
    .mobile-screen{
        font-family: "Rubik-Regular";
        color: #F2F2F2;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .nav {
        padding-right: 50px;
        padding-bottom: 10px;
        padding-top: 10px;
            display: flex;
            justify-content: flex-end;
            text-align: center;
            background-color:#272727;
            }
    .nav-link-on{
        padding: 16px;
        align-self: center;
        font-size: 18px;
        font-family: "Rubik-Regular";
        color: #F26760;
        cursor:pointer;
        text-decoration: none;
        }

    .nav-link{
        padding: 16px;
        align-self: center;
        font-size: 18px;
        font-family: "Rubik-Regular";
        color: rgba(255, 255, 255, 0.6);
        cursor:pointer;
        text-decoration: none;
        } 

    .nav-link:hover{
        font-family: "Rubik-Regular";
        color: #F26760;
        transition-duration: 0.5s;
        transition-timing-function: esase-in-out;
        text-decoration: none;
    }
    .flex_container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        background-color: #1E1E1E;  
    }
    .tx_about{
        max-width: 300px;
        min-width: 250px;
        margin: 20px;   
    }
    .imgyo{
        max-width: 150px;
        height: auto;
        margin: 20px;
        border-radius: 11px;
        }

    .skills_n_methods{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    background-color: #121212;
    padding: 100px;
}

    .insidefooter {
    
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#252525;
    padding: 15px;
    
}
  .hey{
    font-family: "Rubik-Regular";
    font-size: 22px;
    margin: auto;

    color: #F2F2F2;
    margin: 10px;
  }  
  .lym{
    display: flex;
    align-items: center;
    align-content: space-around;
    
  }
  .linkedin{
    width: 44px;
    height: 44px;
    margin: 10px;
      background-image: url("../resources/boton-l.svg");
  }
  .linkedin:hover{
      background-image: url("../resources/boton-l-hover.svg");
  }
  .medium{
    width: 44px;
    height: 44px;
    margin: 10px;
    background-image: url("../resources/boton-m.svg");
    }
    .medium:hover{
    background-image: url("../resources/boton-m-hover.svg");
    }

    .dribbble{
        width: 44px;
        height: 44px;
        margin: 10px;
        background-image: url("../resources/drib\ blanco.svg");
      
    }
        
        .dribbble:hover{
        background-image: url("../resources/drib\ hover.svg");
        }
        .mail{
            width: 44px;
            height: 44px;
            margin: 10px;
            background-image: url("../resources/mail\ b.svg");
          
        }
            
            .mail:hover{
            background-image: url("../resources/mail\ r.svg");
            }

    @media only screen and (max-width: 414px) {
        .desktop-screen{
            display: none;
        }
      }
    @media only screen and (min-width: 415px) {
        .desktop-screen{
            display: block;}
    
        .mobile-screen{
            display: none;
        }
    }