@font-face{
    src: url("../fonts/Rubik-Bold.ttf");
    font-family: "Rubik-Bold";
}

@font-face {
    src: url("../fonts/Rubik-Regular.ttf");
    font-family: "Rubik-Regular";
}



body{
background-color:#1E1E1E;
}

.mobile-screen{
    font-family: "Rubik-Regular";
    color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.laura-tx, .welcome-tx{
    font-family: "Rubik-Bold";
    color: #F2F2F2;
    }

h1, .here-tx, p {
    font-family: "Rubik-Regular";
    color: #F2F2F2;
    size: 16px;
}

.nav {
padding-right: 50px;
padding-bottom: 8px;
padding-top: 8px;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    background-color:#272727;
    margin-bottom: 100px;
    }

    .nav-link-on{
        padding: 16px;
        align-self: center;
        font-size: 18px;
        font-family: "Rubik-Regular";
        color: #F26760;
        cursor:pointer;
        }

    .nav-link{
        padding: 16px;
        align-self: center;
        font-size: 18px;
        font-family: "Rubik-Regular";
        color: rgba(255, 255, 255, 0.6);
        cursor:pointer;
        text-decoration: none;
        }
     
        .nav-link:hover{
            color: #F26760;
            transition-duration: 0.5s;
            transition-timing-function: esase-in-out;
            text-decoration: none;
            }
        
 
header{
   
    align-items: center;
    height: 100%;
    text-align: center;
}
    .laura-tx{
        font-size: 50px;
        padding-top: 78px;
        color: #F2F2F2;
    }
    .welcome-tx{
        font-size: 27px;
        margin-top: 50px;
        color: #F2F2F2;
    }
    .hand{
        font-size: 27px;
        margin:40px;
    }
    .intro-tx{
        padding-top: 16px;
    }
    .here-tx{
        padding-top: 2px;
    }
.botonxxx{
    margin: 0 auto;
    margin-bottom: 110px;

    display: flex;
    justify-content: space-around;
    align-items: center;    
}    


.tx-tarj-unavailable{
padding: 10px;
font-family: "Rubik-Regular";
font-size: 18px;

border-style: solid;
border-color: ivory;
border-width: 1.5px;
border-radius: 4px;
opacity: 0;
position: absolute;
color: #ffffff;

}
.caja-tarjetas{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 40px;
    margin-left: 80px;
    margin-right: 80px;
    align-self: center;
    ;
}
    .imagenTarjeta{
        object-fit: cover;
        border-radius: 11px;
        height: 400px;
        width: 600px;
        
    
        
    }
   
.imgbox{
    height: 400px;
    width: 600px;
    
 
}
    .tarjeta{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        margin: 40px;
        margin-bottom: 80px;
    
        height: 400px;
        width: 600px;
        border-radius: 11px;
        transition: all 0.5s;
        /* position: relative; */
        animation: fadeIn 1s forwards;
    }

    .tarjeta:hover .imagenTarjeta{
        opacity: 0.2;
    }


    .tx-tarj-tit {
        font-family: "Rubik-Bold";
        font-size: 22px;
        opacity: 0 ;
        position: absolute;
    top: 40px;
    left:40px;
    right: 40px; 
    color: #ffffff;
    }
    .tx-tarj-sub{
        font-family: "Rubik-Regular";
        font-size: 18px;
        opacity: 0;
        padding-right: 110px;
        position: absolute;
        top: 80px;
        left: 40px; 
        right:40px;
        color: #ffffff;
    }
    .tarjeta:hover .tx-tarj-tit {
        opacity: 1;
        transition-duration: 0.5s;
        transition-timing-function: esase-in-out;
      }
    .tarjeta:hover .tx-tarj-sub {
        opacity: 1;

        transition-duration: 0.5s;
        transition-timing-function: esase-in-out;
      }

    .tarjeta:hover .imagenTarjeta img{
        opacity: .3;
        transition-duration: 0.5s;
        transition-timing-function: esase-in-out;
 
    }
    .tarjeta:hover .tx-tarj-unavailable{
        opacity: 1;
        transition-duration: 0.5s;
        transition-timing-function: esase-in-out;
      }


 .boton {
    display: flex;
    justify-content: space-around;
    align-items: center; 

    
    height: 69px;
    width: 442px;
    position: relative;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: relative;
    z-index: 1;
    font-size: 22px;
    font-family: "Rubik-Regular";
    border-radius: 11px;
    color:rgba(255, 255, 255, 0.6);
    background-color: #121212;
  }
  .boton > input {
    display: none;
  }
  .boton > input:checked + label {
    color: white;
  }
  .boton > input:nth-of-type(1):checked ~ label:last-of-type:before {
    transform: translateX(calc(0% + 0px));
  }
  .boton > input:nth-of-type(2):checked ~ label:last-of-type:before {
    transform: translateX(calc(100% + 0px));
  }
  
  .boton label {
 
    flex: 1;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }
  .boton label:last-of-type:before {
    content: "";
    display: block;
    max-width: calc(50% - 0px);
    margin: 5px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transform: translateX(0);
    border-radius:11px;
    height: 49px;
    width: 211px;
    background-color: #F26760;

    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

  }
  .boton label {
    padding: 6px 3px;

    transition: color 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
  }
  .boton label:before {
    background: #fff;
    transition: all 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
  }
.insidefooter {
    
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     background-color:#252525;
     padding: 15px;
    margin-top: 50px;
}
  .hey{
    font-family: "Rubik-Regular";
    font-size: 22px;
    margin: auto;

    color: #F2F2F2;
    margin: 10px;
  }
  .lym{
    display: flex;
    align-items: center;
    align-content: space-around;
    
  }
  .linkedin{
    width: 44px;
    height: 44px;
    margin: 10px;
      background-image: url("../resources/boton-l.svg");
  }
  .linkedin:hover{
      background-image: url("../resources/boton-l-hover.svg");
  }
  .medium{
    width: 44px;
    height: 44px;
    margin: 10px;
    background-image: url("../resources/boton-m.svg");
    }
    .medium:hover{
    background-image: url("../resources/boton-m-hover.svg");
    }

    .dribbble{
        width: 44px;
        height: 44px;
        margin: 10px;
        background-image: url("../resources/drib\ blanco.svg");
      
    }
        
        .dribbble:hover{
        background-image: url("../resources/drib\ hover.svg");
        }
        .mail{
            width: 44px;
            height: 44px;
            margin: 10px;
            background-image: url("../resources/mail\ b.svg");
          
        }
            
            .mail:hover{
            background-image: url("../resources/mail\ r.svg");
            }
            
#tarjetas-industrial {
    display: none;

}


@media only screen and (max-width: 414px) {
  /*.desktop-screen{
      display: none;
  }*/
  /* For mobile phones*/
.mobile-screen{
    display: none;  

}
.tx-tarj-unavailable{
    display: none;
}
.tx-tarj-tit{
    display: none;
}
.tx-tarj-sub{
    display: none;
}
.caja-tarjetas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 16px;
    margin-left: 16px;
    margin-right: 16px;
    align-self: center;
    ;
}

}
.imagenTarjeta{
object-fit: cover;
border-radius: 11px;

}

.imgbox{
height: auto;
max-width: 600px;
}

.tarjeta{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-around;
margin: 24px;
margin-bottom: 16px;

height:auto;
width: auto;
border-radius: 11px;
transition: all 0.5s;
/* position: relative; */
animation: fadeIn 1s forwards;
}


@media only screen and (max-width: 414px) {
    .desktop-screen{
        display: none;
    }
    .mobile-screen{
        display: block;
    }
  }
  @media only screen and (min-width: 415px) {
      .desktop-screen{
          display: block;}
  
      .mobile-screen{
          display: none;
      }
  }
  

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}